@import "../CoreConstants";

.PopulationTimeSeriesLegend {
  display: flex;

  &__item {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
  }

  &__icon {
    align-items: center;
    width: 1.5rem;
    height: 1rem;
    margin-right: 0.5rem;
    display: flex;
  }

  &__line {
    stroke: $indigo;
    stroke-width: 4;
    width: 100%;
  }

  &__text {
    white-space: nowrap;
  }

  .ProjectedLegend {
    background: $indigo-10;

    .PopulationTimeSeriesLegend__line {
      stroke-dasharray: 3.5, 4.5, 8, 4.5, 3.5;
    }
  }

  .MonthlyLegend {
    background: $indigo-10;

    .PopulationTimeSeriesLegend__line {
      display: none;
    }
  }
}
