.PopulationTimeseriesLegend {
  display: flex;

  &__Item {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
  }

  &__Icon {
    align-items: center;
    width: 1.5rem;
    height: 1rem;
    margin-right: 0.5rem;
    display: flex;
  }

  &__Line {
    width: 100%;
  }

  .ActualLegend .PopulationTimeseriesLegend__Line {
    border-top: 1px solid #25636F;
  }

  .ProjectedLegend {
    background: rgba(37, 99, 111, 0.1);

    .PopulationTimeseriesLegend__Line {
      border-top: 1px dashed #25636F;
    }
  }
}
