@import "../CoreConstants";

.PopulationTimeSeriesChart {
  background: $white;
  border-radius: 0.5rem;
  box-shadow: $inset-shadow-30;
  font-family: Libre Franklin, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;

  &__Header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 3rem;
  }

  &__Title {
    color: $pine-1;
  }

  &__Point {
    fill: $data-forest;
    r: 0.25rem;
  }

  &__HistoricalLine,
  &__ProjectedLine {
    stroke: $data-forest;
    stroke-width: 1;
  }

  &__ProjectedLine {
    stroke-dasharray: 7;
  }

  .data-visualization {
    .axis-baseline {
      stroke: none;
    }

    .axis-label {
      fill: $slate-80;
    }

    .axis.bottom {
      transform: translateY(18px);
    }

    .axis.left {
      transform: translateX(-4px);
    }
  }

  .background-graphics {
    .x.tick-line {
      stroke: none;
    }

    .y.tick-line {
      stroke: $slate-20;
    }
  }

  .projection-area-label {
    fill: $slate-80;
  }

  .projection-area {
    fill: $marble-4;
    fill-opacity: 0.46;
  }

  .annotation-layer {
    .uncertainty {
      fill: $data-forest-uncertainty;
    }

    .frame-hover {
      fill: $signal-tooltip;
      stroke: $signal-tooltip;
      r: 0.25rem;
    }
  }
}
