@use "../mixins";
@use "../helpers";

// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Variables
// + @Centering

// ---------------------------------------------------------
// @Centering
// ---------------------------------------------------------

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

.centerXY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@if (helpers.$responsive == true) {
  @include mixins.generateResponsive() {
    .centerY\@#{mixins.$breakpointAlias} {
      top: 50%;
      transform: translateY(-50%);
    }

    .centerX\@#{mixins.$breakpointAlias} {
      left: 50%;
      transform: translateX(-50%);
    }

    .centerXY\@#{mixins.$breakpointAlias} {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
