.FilterField {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  flex-grow: 1;
  flex-basis: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.0625);
  @media (max-width: 1280px) {
    padding: 1rem 2rem;
  }
  &:last-of-type {
    border-right: 0;
  }

  &--shrink {
    flex-direction: row;
    align-items: center;
    @media (max-width: 1280px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &--additional {
    display: inline-block;

    .FilterField__label {
      display: inline;
      margin-right: 1rem;
    }
  }

  &__label {
    @media (max-width: 768px) {
      font-size: 0.9rem;
    }

    vertical-align: middle;

    &--shrink {
      margin-bottom: 0;
      margin-right: 1rem;
      font-size: 0.9rem;
      @media (max-width: 1280px) {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}
