.top-level-filters {
  background: white;
  border-bottom: 1px solid $border-color;

  .top-level-filter {
    width: 33%;
    padding: 20px 40px;
    border-right: 1px solid $border-color;

    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    h4 {
      margin-bottom: 0;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }

  .top-level-filters-title {
    margin-right: 11px;
    float: left;
    text-align: justify;
    font-size: 0.9rem;
    flex-shrink: 0;
    transition: 0.25s;
    @media screen and (max-width: 1024px) {
      font-size: 0.6rem;
    }

    @media screen and (max-width: 960px) {
      font-size: 0.5rem;
    }

    @media screen and (max-width: 960px) {
      font-size: 0.5rem;
    }
  }

  .top-level-active {
    display: flex;
    flex-direction: column;
    padding: 12px 14px !important;
    @media screen and (min-width: 1025px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &.pre-top-level-filters {
    .top-level-filter {
      display: inline-flex;
      width: 100%;
      padding: 10px 40px;

      .title-level {
        width: auto;
        margin-right: 20px;
      }

      &.top-level-active {
        padding: 8px 10px !important;

        .title-level {
          margin-top: 6px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

.revocations-time-graph {
  height: 180px;
}

.modal-body {
  ul {
    font-size: 14px;
    font-weight: normal;
    padding-right: 40px;
  }
}

.modal-overflow {
  overflow-y: auto;
  max-height: 300px;
}

.CaseTable {
  table {
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $border-color;
  }

  th {
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    width: 15%;

    button {
      background: transparent;
      border: 0;
      text-transform: inherit;
      font-size: inherit;
      font: inherit;
      color: inherit;
      padding: 0;
    }
  }

  td {
    padding: 10px 0 10px 20px;
    width: 15%;
  }

  .Pagination {
    text-align: right;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;

    button {
      background: transparent;
      border: 0;
      color: inherit;
    }
  }
}

@media screen and (max-width: 1680px) {
  .top-level-filters .top-level-filters-title {
    margin-right: 11px;
    min-height: 40% !important;
  }
}

@media screen and (max-width: 1420px) {
  .top-level-filters .top-level-filters-title {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 1350px) {
  .container-all-charts {
    display: block !important;
    width: 98%;
  }
}
