@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../../core/CoreConstants.module.scss" as constants;

.PathwaysTable {
  width: 100%;
  min-width: 1100px !important;
  text-align: left;
  color: constants.$pine-1;
  @include mixins.sans-14;

  @media screen and (max-width: constants.$core-breakpoint-sm) {
    min-width: 1300px !important;
  }

  &__head {
    color: constants.$slate-80;
    border-bottom: 1px solid constants.$slate-20;

    &--sortable {
      display: flex;
    }

    & .th {
      background: constants.$white;
      padding: 0.875rem 0;
      padding-left: 2.5rem;
      @include mixins.sans-14;
    }
  }

  &__body {
    height: 520px;

    @media screen and (max-width: constants.$core-breakpoint-sm) {
      height: 420px;
    }
  }

  & :last-child {
    border-bottom: 0 !important;
  }

  & .tr {
    display: flex;
    border-bottom: 1px solid constants.$slate-20;
  }

  & .td {
    padding: 1rem 0;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;

    & > :last-child {
      padding-right: 2.5rem;
    }
  }
}
