@import "@recidiviz/design-system/dist/scss/typography/mixins";
@import "../../core/CoreConstants.module.scss";

.PathwaysTable {
  width: 100%;
  min-width: 1100px !important;
  text-align: left;
  color: $pine-1;
  @include sans-14;

  @media screen and (max-width: $core-breakpoint-sm) {
    min-width: 1300px !important;
  }

  &__head {
    color: $slate-80;
    border-bottom: 1px solid $slate-20;

    &--sortable {
      display: flex;
    }

    & .th {
      background: $white;
      padding: 0.875rem 0;
      padding-left: 2.5rem;
      @include sans-14;
    }
  }

  &__body {
    height: 520px;

    @media screen and (max-width: $core-breakpoint-sm) {
      height: 420px;
    }
  }

  & :last-child {
    border-bottom: 0 !important;
  }

  & .tr {
    display: flex;
    border-bottom: 1px solid $slate-20;
  }

  & .td {
    padding: 1rem 0;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;

    & > :last-child {
      padding-right: 2.5rem;
    }
  }
}
