# comment next line to lint everything
*
!*/
node_modules/
build/
public/

# whitelist files/directories for linting. eventually everything will be linted and these can be removed
!server.js
!src/utils/charts/__tests__/choropleth.test.js
!src/utils/charts/__tests__/currentSpan.test.js
!src/utils/charts/__tests__/metricGoal.test.js
!src/utils/charts/info.js
!src/components/toggles/__tests__/MetricTypeToggle.test.js
!src/components/toggles/__tests__/ToggleBar.test.js
