.DS_Store
.idea/
.vscode/
.env
.env.*
!.env.offline
!apps/jii/.env.*
!apps/jii-functions/.env*
!apps/staff-functions/.env*
.env-cmdrc
.nx

# long-running vite bug, https://github.com/vitejs/vite/issues/13267
vite.config.*.timestamp-*

# Production build directory
build/
dist/
.firebase/
tmp/

# Dependency directory
node_modules/
.pnp
.pnp.js
.config
.yarn

# Code coverage directory
coverage/

# Secrets
gae*.yaml
src/assets/scripts/metrics/*.json
recidiviz-production-*.json
recidiviz-dev-*.json
recidiviz-dashboard-*.json
recidiviz-staging-*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package files
package-lock.json
.yalc
yalc.lock
# these are generated as part of the build process
libs/staff-shared-server/package.json
apps/sentencing-server/package.json
apps/jii-texting-jobs/package.json
apps/jii-texting-server/package.json
apps/@sentencing/import/package.json

# Redis dump
dump.rdb

# Typescript build artifacts
*.tsbuildinfo

# fixtures for offline mode (legacy)
emulator-fixtures
firebase-export-*/

# ignore vim swap files
*.sw[a-z]

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# ephemeral test configuration
opportunityPageConfig.json

# Terraform / Atmos created files
.atmos
.terraform
.terraform.lock.hcl
*.tf.json
*.tfvars.json
*.planfile
*.tfplan
.decrypted*

vite.config.*.timestamp*
vitest.config.*.timestamp*

# may be generated temporarily while running vitest type tests
tsconfig.vitest-temp.json
