.bold {
  font-weight: 600;
}

.body {
  color: rgba(42, 84, 105, 0.9);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-public-sans);
  line-height: 16.8px;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.removeConfirmButton {
  background-color: #013830;
  color: white;
}

.removeConfirmButton:hover {
  background-color: #002321;
  color: white;
}
