.container {
  align-self: stretch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.searchPlaceholder {
  align-self: stretch;
  padding: 24px 8px;
  border-bottom: 1px solid var(--ink-2-a20);
}

@media (min-width: 768px) {
  .searchPlaceholder {
    padding: 24px 32px;
  }
}

.aiDisclosure {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}
