.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - var(--chat-header-height));
  background: var(--color-white);
}

.sidebar {
  width: 360px;
  min-width: 360px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid var(--gray-4);
  background: var(--gray-50);
}

.content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

@media print {
  .sidebar {
    display: none !important;
  }

  .container {
    height: auto;
  }

  .content {
    width: 100% !important;
    overflow: visible;
  }
}
