@use "../../../settings";
@use "mediaQueryCondition" as mixins;
@use "sass:list";

// ---------------------------------------------------------
// @Responsive Suffix Generator
// ---------------------------------------------------------

// Mixin used to generate responsive suffixes for classes (i.e. m-10@sm+).

@mixin generateResponsive() {
  @each $breakpoint in settings.$breakpoints {
    $breakpointAlias: list.nth($breakpoint, 1) !global;
    $breakpointCondition: list.nth($breakpoint, 2);

    @include mixins.mediaQueryCondition($breakpointAlias) {
      @content;
    }

    $breakpointAlias: null !global;
  }
}
