.container {
  height: var(--chat-header-height);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray-7);
  background-color: var(--color-white);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(to right, var(--color-navy-2), var(--color-navy-3));
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px var(--shadow-25);
  color: var(--color-white);
  font-family: var(--font-public-sans);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.name {
  font-family: var(--font-public-sans);
  font-size: 1.125rem;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: var(--color-teal-2);
  font-weight: 600;
  text-transform: capitalize;
}

.docId {
  font-family: var(--font-public-sans);
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--color-teal-7);
  font-weight: 500;
}
