

@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;

.SectionNavigation {
  padding-bottom: 2rem;

  &__title {
    @include mixins.sans-24;
    color: constants.$slate-85;
    border-bottom: 1px solid constants.$slate-20;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
  &__navlink {
    @include mixins.sans-16;
    color: constants.$pine-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    &:hover {
      color: constants.$signal-links;
    }
    &--active {
      color: constants.$signal-links;
    }
    &:focus, &:focus-within, &:active {
      color: constants.$signal-links;
    }

  }

  &__section-name {
    margin-right: 2.5rem;
  }
  &__arrow {
    min-width: 16px;
  }

  @media screen and (max-width: constants.$core-breakpoint-sm) {
    padding: 2rem 0;

    &__title {
      display: none;
    }
    &__navlink {
      margin-bottom: 0;
      color: constants.$slate-80;
      &--multiple {
        margin-bottom: 2.5rem;
        color: constants.$white !important;
        opacity: 0.6;
      }
      &:hover {
        opacity: 1;
      }
      &--active {
        opacity: 1;
      }
    }
    &__drawer-button {
      border: 0;
      padding: 0;
      background: transparent;
      @include mixins.sans-16;
      color: constants.$slate-80;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: constants.$signal-links;
      }
      & :first-child {
        padding-right: 0.625rem;
      }
    }
    &__arrow {
      display: none;
    }
    &__section-name {
      margin-right: 0;
    }
  }
}
