

@use "./CoreConstants.module.scss" as constants;

.DashboardLayout {
  display: flex;
  min-height: 100vh;
  background: constants.$marble-3;

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .MobileViewNavigation + & {
      margin-left: 4rem;
    }
  }

  .IE11Banner {
    padding-top: 4rem;
    padding-bottom: 0;
    background-color: constants.$marble-3;
  }

  .Footer {
    background-color: constants.$marble-3;
  }
}

.DashboardLayout {
  &.Workflows,
  &.Operations,
  &.Insights,
  &.PSI,
  &.SAR {
    .IE11Banner {
      padding-top: 0;
    }
  }
}
