
@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "./CoreConstants.module.scss" as constants;

.DetailsGroup {
  min-height: 2.375rem;
  display: flex;
  align-items: center;

  &__item {
    color: constants.$slate-80;
    @include mixins.sans-14;

    > :not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    outline: 0 !important;
    border: 0;
    background: transparent;
    color: constants.$signal-links;
    @include mixins.sans-16;
    padding: 0;
    &:not(:last-child) {
      padding-right: 1.5rem;
    }

    &:hover {
      text-decoration: none;
      color: constants.$signal-links;
    }

    &:focus, &:focus-within, &:active {
      border: 1px solid #006c67;
      border-radius: 8px;
    }
  }

  &__icon {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-right: 6.5px;

    &--download {
      height: 14px;
      width: 14px;
    }
  }

  &__menu {
    cursor: pointer;
    color: constants.$signal-links;
    display: block;

    &:focus, &:focus-within, &:active {
      border: 1px solid #006c67;
      border-radius: 2px;
      padding: 2px;
    }

    @media screen and (max-width: constants.$core-breakpoint-sm) {
      display: block;
    }
  }

  &__content {
    display: none;
    position: absolute;
    flex-direction: column;
    width: auto;
    right: -0.5rem;
    top: 3.5rem;
    padding: 0.5rem 0;
    background: constants.$white;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 3;

    @media screen and (max-width: constants.$core-breakpoint-sm) {
      top: 6.5rem;
    }

    &--visible {
      display: flex;

      .DetailsGroup__button {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        width: 100%;

        &:hover {
          color: constants.$white;
          background: constants.$signal-links;
        }
      }
    }
  }
}
