
@import "@recidiviz/design-system/dist/scss/typography/mixins";
@import "../CoreConstants.module.scss";

.main-content {
  background-color: $marble-3;
}
.Methodology {
  padding: 0px 0px 5rem 0px !important;

  // this offsets the padding for anchor links
  // so they don't overshoot the header on page load
  // (slightly less than the offset defined in PageMethodology.tsx, for comfort).
  // targets elements rendered by react-anchor-navigation
  b[id] {
    scroll-margin-top: 70px;
  }

  &__main-title {
    color: $pine-3;
    @include header-56;
    letter-spacing: -0.04em;
    padding-bottom: 1rem;
    padding-top: 6rem;
  }
  h3 {
    margin: 0px;
  }
  a {
    color: $signal-links;
    width: fit-content;
    &:hover,
    &:focus {
      color: $signal-links;
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      color: $signal-links;
    }
  }
  &__main-description {
    @include body-24;
    color: $pine-3;
  }
  &__toc {
    padding: 2.93rem 0px 0px 0px !important;
    &--header {
      @include sans-14;
      color: $slate-85;
    }
    &--link {
      @include sans-24;
    }
  }
  &__block {
    margin-bottom: 1rem;
    color: $pine-2;

    &--title {
      padding: 4.5rem 0px 0px 0px !important;
      @include header-34;
      color: $pine-3;
      letter-spacing: -0.04em;
    }
    &--content,
    p {
      @include body-16;
      color: $pine-2;
    }
  }
  &__sub-block--title {
    padding: 2rem 0px 1rem 0px !important;
    color: $pine-3;
    @include header-24;
    letter-spacing: -0.04em;
  }
  &__table {
    font-size: 1rem;
    line-height: 1.43rem;
    font-weight: 300;
    padding: 25px 0 0 25px !important;
    .table {
      color: $pine-2;
    }
    &__description {
      font-size: 1.18rem;
      font-weight: 300;
      color: $slate-85;
    }
  }
}
