.Chip {
  $color1: #235781;
  $color2: white;

  display: inline-flex;
  align-items: center;
  height: 32px;
  border: 1px solid $color1;
  background-color: $color2;
  padding: 2px 8px;
  border-radius: 24px;
  margin-right: 10px;
  width: auto;
  vertical-align: middle;
  line-height: 1;

  &--selected {
    background-color: $color1;
  }

  &--small {
    height: 28px;
    border-radius: 14px;
  }

  &__label {
    margin: 0;
    color: $color1;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: $color2;
    vertical-align: middle;
    line-height: 21px;

    &:focus {
      outline: none;
    }

    .Chip--selected & {
      color: $color2;
      background-color: $color1;
    }

    .Chip--small & {
      line-height: 18px;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }

  &__delete-button {
    margin-top: 2px;
    border: none;
    background: transparent;
    color: $color1;
    vertical-align: middle;
    line-height: 1;

    .Chip--selected & {
      color: $color2;
    }

    .Chip--small & {
      margin-top: 0;
      transform: scale(0.7);
    }
  }
}
