

@import "../CoreConstants.module.scss";
@import "../controls/mixins";

.VizLengthOfStay {
  &__chart-container {
    display: flex;
  }
  &__chartXAxisTitle {
    text-align: center;
    padding-bottom: 2rem;
    color: $slate-85;
  }
  &__chartYAxisTitle {
    text-align: center;
    color: $slate-85;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
  }
  .data-visualization .axis.bottom text {
    transform: initial !important;
  }
}
