

@use "../CoreConstants.module.scss" as constants;
@use "../controls/mixins" as controls;

.VizLengthOfStay {
  &__chart-container {
    display: flex;
  }
  &__chartXAxisTitle {
    text-align: center;
    padding-bottom: 2rem;
    color: constants.$slate-85;
  }
  &__chartYAxisTitle {
    text-align: center;
    color: constants.$slate-85;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
  }
  .data-visualization .axis.bottom text {
    transform: initial !important;
  }
}
