.scrollOverlay {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 0;
  z-index: 2;
}

.scrollToBottomBtn {
  width: 36px;
  height: 36px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  bottom: 0px;
  border-radius: 100%;
  padding: 4px;
  background: #00665F;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
}

.scrollToBottomBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}
