{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "env": {
    "test": {
      /* Required because Jest runs in Node and needs CommonJS modules, disabled in prod */
      "presets": ["@babel/env", "@babel/react"]
    }
  }
}
