runtime: nodejs10

service: default

includes:
- base-gae-handlers.yaml

env_variables:
  AUTH_ENV: {AUTH_ENV}
  GOOGLE_APPLICATION_CREDENTIALS: {GOOGLE_APPLICATION_CREDENTIALS}
  METRIC_BUCKET: {METRIC_BUCKET}
