

@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;
@use "../controls/mixins" as controls;

.VizCountOverTimeWithAvg {
  background: constants.$white;
  @include mixins.sans-14;
  border-radius: 0.5rem;
  box-shadow: constants.$inset-shadow-30;
  line-height: 1.5rem;
  width: 100%;

  .background-graphics {
    .axis.axis-tick-lines {
      stroke: none;
    }
    .left.tick-line {
      stroke: constants.$slate-20;
      stroke-width: 1px;
    }
  }

  .data-visualization {
    .axis-baseline.y {
      stroke: none;
    }

    .axis-label {
      fill: constants.$slate-80;
    }
  }

  .foreground-graphics {
    transform: translate(0, 1.5rem);

    .ordinal-labels text {
      fill: constants.$slate-80;
      transform: rotate(-45deg) translate(-0.4rem, -0.4rem);
    }
  }

  .annotation-layer {
    .xythreshold > .annotation-subject {
      path {
        opacity: 0.3;
        stroke-dasharray: 7;
      }
    }
  }

  &__goal-label {
    @include mixins.sans-14;
    fill: constants.$signal-links;
  }
}
