# Misc
.DS_Store
*.pem

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.venv


# Secrets and credentials
.secrets/*
!.secrets/gcp-service-account.json-sample
!.secrets/github-reentry-ci-service-account-key.json-sample

# IDE
.idea/

experiments/structured_action_plan
experiments/local
experiments/structured_assessment
experiments/headless_evaluations
.env-prod

data/caddy/*
data/results/*
data/*serviceaccount*.json

*.pkl

experiments/evaluation/results/*
.aider*

**/.claude/settings.local.json
