@import "../../assets/styles/spec/settings/baseColors.scss";
@import "../CoreConstants.scss";

.main-content {
  background-color: $marble-3;
}
.methodology {
  &__main-title {
    padding-top: 6rem;
    font-family: "Libre Baskerville", serif;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4.5rem;
    color: $label-topbar;
  }
  h3 {
    margin: 0px;
  }
  &__main-description {
    font-family: "Libre Franklin", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    color: $label-topbar;
  }
  &__link-block {
    font-family: "Libre Franklin", sans-serif;
    padding: 2.93rem 0px 0px 0px !important;
    h5 {
      font-weight: 500;
      color: #7d9897;
      font-size: 0.81rem;
    }
    a {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $signal-links;
      width: fit-content;
      &:hover,
      &:focus {
        color: $signal-links;
        cursor: pointer;
        text-decoration: underline;
      }
      &:active {
        color: $signal-links;
      }
    }
  }
  &__sub-block {
    &--title {
      padding: 4.5rem 0px 0px 0px !important;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.5rem;
      color: $label-topbar;
    }
    &--description {
      font-family: "Libre Franklin", sans-serif;
      font-weight: 300;
      font-size: 1.18rem;
      color: #012322;
      line-height: 2rem;
      &:first-child > h4 {
        padding: 0px !important;
      }
      h4 {
        padding-top: 2.5rem !important;
        color: $label-topbar;
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
      }
    }
  }
  .table {
    font-size: 1.18rem;
    line-height: 1.43rem;
    font-weight: 300;
    &__description {
      font-size: 1.18rem;
      font-weight: 300;
      color: #526b78;
    }
  }
}
#model-infrastructure {
  .methodology {
    &__sub-block {
      &--description {
        h4:first-child {
          padding-top: 0px !important;
        }
      }
    }
  }
}
