@import "../../assets/styles/spec/settings/baseColors.scss";
@import "../CoreConstants.scss";

.main-content {
  background-color: $marble-3;
}
.Methodology {
  padding-bottom: 72px !important;

  &__main-title {
    padding-top: 6rem;
    padding-bottom: 1rem;
    color: $pine-3;
    font: $font-article-serif-56;
    letter-spacing: -0.04em
  }
  &__main-description {
    color: $label-topbar;
    font: $font-article-sans-24;
    line-height: 2.5rem;
  }
  &__toc {
    padding: 2.93rem 0px 0px 0px !important;
    &--header {
      color: $slate-85;
      font: $font-article-sans-14
    }
    &--link {
      font-family: Libre Franklin;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $signal-links;
      width: fit-content;
      &:hover,
      &:focus {
        color: $signal-links;
        cursor: pointer;
        text-decoration: underline;
      }
      &:active {
        color: $signal-links;
      }
    }
  }
  &__block {
    &--title {
      padding: 4.5rem 0px 0px 0px !important;
      font: $font-article-serif-34;
      color: $label-topbar;
      letter-spacing: -0.04em
    }
    &--content, &--content p {
      font: $font-article-sans-16;
      color: $pine-2;
    }
  }
  &__sub-block--title {
    padding: 2.0rem 0px 1rem 0px !important;
    color: $label-topbar;
    font: $font-article-serif-24;
    letter-spacing: -0.04em
  }
  &__table {
    font-size: 1rem;
    line-height: 1.43rem;
    font-weight: 300;
    padding: 25px 0 0 25px !important;
    .table {
      color: $pine-2;
    }
    &__description {
      font-size: 1.18rem;
      font-weight: 300;
      color: $slate-85;
    }
  }
}
