
@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;

$ALL_PILL_WIDTH: 160px;

.TogglePill {
  display: flex;
  align-items: center !important;
  justify-content: center;
  text-align: center;
  height: 100%;
  transform: translateY(-3px);

  &__button {
    display: flex;
    align-items: center;
    color: constants.$pine-3;
    justify-content: center;
    width: calc($ALL_PILL_WIDTH / 2);
    height: 2.33rem;
    border: 1px solid #d2d8d8;
    background: transparent;
    padding: 0 1rem;
    @include mixins.sans-14;

    &:focus {
      outline: none;
    }

    &:nth-of-type(1) {
      border-right: none;
      border-radius: 200px 0px 0px 200px;
    }

    &:nth-of-type(2) {
      border-left: none;
      border-radius: 0px 200px 200px 0px;
    }

    &--selected {
      color: white;
      background-color: #006c67;
    }
    &:focus, &:focus-within, &:active, &:hover {
      border: 1px solid #006c67 !important;
    }
  }
}

.DashboardLayout .TogglePill {
  align-items: initial;
  margin-right: 1.5rem;
}
