@import "../CoreConstants";

.FilterBar {
  background: $marble-3;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $core-max-view-width;
    width: 100%;

    .Filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      padding-right: 1.5rem;

      &__title {
        color: $slate-80;
        font: $font-ui-sans-14;
        letter-spacing: -0.01em;
        padding-right: 0.5rem;
        white-space: nowrap;
      }
    }
  }

  &__filters {
    display: flex;
    flex-flow: row wrap;
  }
}
