@import "../CoreConstants";

.FilterBar {
  background: $marble-3;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem;

  &__filters {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    max-width: $core-max-view-width;
    width: 100%;

    .Filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      padding-right: 1.5rem;

      &__title {
        white-space: nowrap;
        color: $slate-80;
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0.01em;
        padding-right: 0.5rem;
      }
    }
  }
}
