@import "../CoreConstants";

.FilterBar {
  background: $marble-3;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $core-max-view-width;
    width: 100%;

    @media screen and (max-width: $core-breakpoint-sm) {
      flex-wrap: nowrap;
      padding-top: 3rem;
    }

    .Filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1.5rem;

      @media screen and (max-width: $core-breakpoint-sm) {
        padding-right: 1rem;
      }

      &__title {
        color: $slate-80;
        @include font-ui-sans-14;
        padding-right: 0.5rem;
        white-space: nowrap;
      }
    }
  }

  &__filters {
    display: flex;
    flex-flow: row wrap;
  }

  &__details {
    display: flex;
    flex-flow: row;
  }
}
