.Chip {
  $color1: #235781;
  $color2: white;

  display: inline-flex;
  height: 32px;
  border: 1px solid $color1;
  background-color: $color2;
  padding: 2px 8px;
  border-radius: 24px;
  margin-right: 10px;
  width: fit-content;

  &--selected {
    background-color: $color1;
  }

  &--shrinking {
    height: 28px;
    border-radius: 24px;
  }

  &__label {
    margin: 0;
    color: $color1;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: $color2;
    &:focus {
      outline: none;
    }

    .Chip--selected & {
      color: $color2;
      background-color: $color1;
    }
  }

  &__delete-button {
    padding: 0;
    margin-left: 4px;
    margin-top: 1px;
    border: none;
    background: transparent;
    color: $color1;

    .Chip--selected & {
      color: $color2;
    }

    .Chip--shrinking & {
      margin-top: 2px;
    }
  }
}
