
@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;

.VitalsSummaryDetail {
  color: constants.$slate-80;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: 3rem 4rem;

  @media screen and (max-width: constants.$core-breakpoint-sm) {
    padding: 2.5rem 5rem;
  }

  @media screen and (max-width: constants.$core-breakpoint-xs) {
    padding: 2rem 3rem;
  }

  &__title {
    @include mixins.sans-24;
    padding: 0 0 1rem;
  }

  &__status {
    align-self: center;
    border: 1px solid;
    width: 4rem;

    &--POOR {
      border-color: constants.$crimson-dark;
    }

    &--NEEDS_IMPROVEMENT {
      border-color: constants.$crimson;
    }

    &--GOOD {
      border-color: #4d9895;
    }

    &--GREAT,
    &--EXCELLENT {
      border-color: #006c67;
    }
  }

  &__value {
    @include mixins.serif-34;
    color: constants.$pine-3;
    font-size: 6rem;
    line-height: 100%;
    margin: 0;
    padding: 3rem 0 1rem;
  }

  &__description {
    @include mixins.sans-16;
    text-align: center;
  }
}
