@import "@recidiviz/design-system/dist/scss/typography/mixins";
@import "../../assets/styles/spec/settings/index";
@import "../CoreConstants.module.scss";

.PageNavigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  &__option {
    align-items: center;
    cursor: pointer;
    display: flex;
    @include sans-16;
    height: 100%;
    justify-content: center;
    margin: 0;
    text-align: center;
    padding: 0 1rem;
  }

  &--pathways {
    & > li {
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        .PageNavigation {
          &__option {
            border-left: none;

            &--selected {
              border-left: none;
              border-right: 1px solid $data-forest;
            }
          }
        }
      }

      &:last-child {
        .PageNavigation {
          &__option {
            border-right: none;

            &--selected {
              border-right: none;
              border-left: 1px solid $data-forest;
            }
          }
        }
      }
    }

    .PageNavigation {
      &__option {
        width: 100%;
        color: $slate-80;
        border-right: 1px solid $slate-20;
        border-left: 1px solid $slate-20;

        &:hover {
          color: $pine-3;
        }

        &--selected {
          color: $pine-3;
          background: $data-forest-07;
          border-right: 1px solid $data-forest;
          border-left: 1px solid $data-forest;
        }
      }
    }
  }

  &--mobile {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin: 1rem 0 3.5rem 3rem;

    &:empty {
      margin-top: 0;
    }

    .PageNavigation {
      &__option {
        width: 100%;
        color: $white;
        opacity: 0.6;
        margin-bottom: 1rem;
        border: 0 !important;

        &:hover {
          color: $white;
          opacity: 1;
        }

        &--selected {
          color: $white;
          opacity: 1;
          background: transparent;
          border: 0 !important;
        }
      }
    }
  }
}
