@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;
@use "../controls/mixins.scss" as controls;

.VitalsSummaryChart {
  @include mixins.sans-14;
  padding: 0 0 40px;
  width: 100%;

  .background-graphics {
    .axis.axis-tick-lines {
      stroke: none;
    }
    .left.tick-line {
      stroke: constants.$slate-20;
      stroke-width: 1px;
    }
  }

  .data-visualization {
    .axis-baseline.y {
      stroke: none;
    }

    .axis-label {
      fill: constants.$slate-80;
    }
  }

  .foreground-graphics {
    transform: translate(0, 1.5rem);

    .ordinal-labels {
      fill: constants.$slate-80;
    }
  }

  .annotation-layer {
    .xythreshold > .annotation-subject {
      path {
        opacity: 0.3;
        stroke-dasharray: 7;
      }
    }
  }

  &__goal-label {
    @include mixins.sans-14;
    fill: constants.$signal-links;
  }
}

.VitalsSummaryTooltip {
  @include controls.chart-tooltip;

  &__Date,
  &__Average {
    opacity: 0.8;
    @include mixins.sans-14;
  }

  &__Value {
    @include mixins.sans-16;
  }
}
