.modal-container {
  position: fixed;
  display: block;
  width: 600px;
  max-height: 400px;
  background: white;
  border: 1px solid $border-color;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  font-size: 14px;
  font-weight: normal;
}
