rules_version = '2';
service cloud.firestore {
  function allowedStateCode() {
    return request.auth.token.stateCode in ["US_TN", "US_ND", "RECIDIVIZ"]
  }

  match /databases/{database}/documents {
    

    match /{document=**} {
      allow read: if allowedStateCode()
    }

    match /userUpdates/{document=**} {
      allow write: if allowedStateCode()
    }
    
    match /clientUpdates/{document=**} {
      allow write: if allowedStateCode()
    }

    match /clientUpdatesV2/{document=**} {
      allow write: if allowedStateCode()
    }

    match /DEMO_userUpdates/{document=**} {
      allow write: if allowedStateCode()
    }
    
    match /DEMO_clientUpdates/{document=**} {
      allow write: if allowedStateCode()
    }
    
    match /DEMO_clientUpdatesV2/{document=**} {
      allow write: if allowedStateCode()
    }
  }
}
