
@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;

.MenubarContainer {
  position: fixed;
  height: calc(4rem - 4px); /* Reduce height by 4px (2px top + 2px bottom) to account for focus outline */
  width: calc(100% - 4px); /* Reduce width by 4px (2px left + 2px right) to account for focus outline */
  top: 2px; /* Offset by 2px to center with focus outline */
  left: 2px; /* Offset by 2px to center with focus outline */
  z-index: 2;
}

.MobileNavigation {
  background: constants.$marble-3;
  height: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: constants.$core-border-color 1px solid;
  padding: 0 2.5rem;
  display: none;

  &__icon {
    color: constants.$pine-3;
    margin-right: 1rem;
    cursor: pointer;
  }
  &__title {
    @include mixins.serif-24;
    color: constants.$pine-3;
    white-space: nowrap;
  }
  &__system {
    margin-left: auto;
  }
  &__operations {
    width: 100%;
  }

  &__vitals {
    @include mixins.serif-24;
    color: constants.$pine-3;
  }

  @media screen and (max-width: constants.$core-breakpoint-sm) {
    display: flex;
  }

  @media screen and (max-width: constants.$core-breakpoint-xs) {
    padding: 0 1rem;
  }
}
