@import "./CoreConstants.scss";

.CoreLayout {
  &__header {
    border-bottom: 1px solid $core-border-color;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 800;
    height: 5rem;
  }

  .Footer {
    background-color: $marble-3;
  }
}
