@import "../assets/styles/spec/settings/index";
@import "./CoreConstants.scss";

.CorePageSelector {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  & > li {
    margin-left: 1rem;
  }

  &--Option {
    align-items: center;
    border-top: 0.25rem solid transparent;
    color: $pine-3;
    cursor: pointer;
    display: flex;
    font: $font-ui-sans-16;
    height: 100%;
    justify-content: center;
    letter-spacing: -0.01em;
    margin: 0;
    width: 6.33rem;

    &:hover {
      color: $signal-highlight;
    }

    &-Selected {
      border-top: 0.25rem solid $signal-highlight;

      &:focus {
        color: $pine-3;
      }
    }
  }
}
