@import "../assets/styles/spec/settings/index";
@import "./CoreConstants";

.PageTemplate {
  background: $core-background;
  display: flex;
  flex-flow: column;

  @media screen and (max-width: $core-breakpoint-lg) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (max-width: $core-breakpoint-md) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #mainContent {
    align-self: center;
    max-width: $core-max-view-width;
    width: 100%;
  }
}
