
@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;

$border-styles: 1px solid constants.$slate-20;

@mixin sticky-scroll-column {
  @media screen and (max-width: constants.$core-breakpoint-sm) {
    position: sticky !important;
    background-color: constants.$white;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.VitalsSummaryTable {
  background: constants.$white;
  border-radius: 8px;
  letter-spacing: -0.01em;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  /* Enable scrollbar on chrome for tables in tablet sizes */
  &::-webkit-scrollbar {
    @media screen and (max-width: constants.$core-breakpoint-sm) {
      -webkit-appearance: none;
      height: 5px;
      border-radius: 8px;
    }
  }
  &::-webkit-scrollbar-thumb {
    @media screen and (max-width: constants.$core-breakpoint-sm) {
      border-radius: 8px;
      background-color: constants.$slate-20;
      -webkit-box-shadow: 0 0 0.1rem constants.$box-shadow-color-30;
    }
  }

  &__table {
    background: constants.$white;
    box-shadow: constants.$inset-shadow-30;
    width: 100%;
    text-align: center;
    line-height: 150%;
    font-style: normal;
    letter-spacing: -0.01em;
    color: black;
    @media screen and (max-width: constants.$core-breakpoint-sm) {
      border-collapse: separate;
      border-spacing: 0;
    }
  }

  &__table-head {
    /* Top header row */
    & > :first-child {
      color: constants.$slate-80;
      @include mixins.sans-16;

      & > th {
        padding-top: 2rem;
        font-weight: 500;
      }

      & > :first-child {
        border-right: $border-styles;
        @include sticky-scroll-column;
      }

      & > :nth-child(2) {
        border-right: $border-styles;
      }
    }

    /* Sortable header row */
    & > :last-child {
      color: constants.$pine-3;
      @include mixins.sans-14;

      /* All headers except Entity */
      & > th:not(:first-child) {
        padding: 1rem 2.5rem;
        font-weight: 500;
        max-width: 175px;
        line-height: 18px;

        > div.VitalsSummaryTable__sortable-header {
          @media screen and (max-width: constants.$core-breakpoint-md) {
            max-width: 113px;
          }
        }
      }

      /* Entity Header */
      & > th#entity {
        border-right: $border-styles;
        font-weight: 500;
        text-align: left;
        padding: 1rem 0.5rem 1rem 2.5rem;
        min-width: 200px;

        > div.VitalsSummaryTable__sortable-header {
          @media screen and (max-width: constants.$core-breakpoint-md) {
            min-width: 140px;
          }
        }
        @include sticky-scroll-column;
      }

      /* Performance by Metric Headers */
      & > th:nth-child(n + 5) {
        @media screen and (max-width: constants.$core-breakpoint-md) {
          padding: 1rem;
        }
      }

      /* 28D Change Header */
      & > th#overall90Day {
        border-right: $border-styles;
      }
    }
  }

  &__row--value {
    border-top: $border-styles;
    color: constants.$pine-3;
    @include mixins.sans-14;

    /* All cells except entity */
    td:not(:first-child) {
      font-weight: 500;
      padding: 1.25rem 0 1.25rem 0;
    }

    /* 90D Change Cells */
    :nth-child(4) {
      border-right: $border-styles;
    }
  }

  &__cell {
    /* Entity cells */
    &--entity {
      border-right: $border-styles;
      padding: 1.25rem 0.5rem 1.25rem 2.5rem;
      text-align: left;
      @include sticky-scroll-column;
    }
  }

  /* Entity links */
  &__link {
    color: constants.$pine-3;
    border: 0;
    background-color: transparent;
    text-align: left;
    @include mixins.sans-14;
    &:hover {
      text-decoration-line: underline;
      color: constants.$signal-links;
      cursor: pointer;
    }
  }

  /* Performance by metric bubbles */
  &__bubble {
    display: inline-block;
    border: 1px solid transparent;
    width: 4.5rem;
    height: 2rem;
    line-height: 1.5rem;
    border-radius: 21px;
    padding: 3px 0;

    &--70 {
      border-color: constants.$signal-error;
    }

    &--80 {
      border-color: constants.$signal-error-lite;
    }

    &--90 {
      border-color: constants.$signal-links-lite;
    }

    &--100 {
      border-color: constants.$signal-links;
    }
  }

  /* All sortable headers */
  &__sortable-header {
    display: flex;
    align-items: center;
    justify-content: center;

    &--entity {
      justify-content: start;
    }
  }

  &__change {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.sans-16;
  }

  &__sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;

    &__button {
      width: 0;
      height: 0;
      border-style: solid;
      margin: 1px;
      &--up {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent constants.$slate-30 transparent;

        &.VitalsSummaryTable__sort__button--active {
          border-color: transparent transparent constants.$signal-links transparent;
        }
      }

      &--down {
        border-width: 5px 5px 0 5px;
        border-color: rgba(53, 83, 98, 0.3) transparent transparent transparent;

        &.VitalsSummaryTable__sort__button--active {
          border-color: constants.$signal-links transparent transparent transparent;
        }
      }
    }
  }
}
