
.PathwaysFilterBar {
  #timePeriod {
    width: 8rem;
  }
  #gender {
    width: 7.5rem;
  }
  #legalStatus {
    width: 10rem;
  }
  #admissionReason {
    width: 11rem;
  }
  #supervisionType {
    width: 12rem;
  }
  #supervisionLevel {
    width: 11rem;
  }
  #ageGroup {
    width: 8rem;
  }
  #facility {
    width: 9rem;
  }
  #district {
    width: 11rem;
  }
  #judicialDistrict {
    width: 11rem;
  }
  #mostSevereViolation {
    width: 10rem;
  }
  #numberOfViolations {
    width: 8rem;
  }
  #race {
    width: 11rem;
  }
  &__toggle-pill {
    margin-right: 1.5rem;
  }
}
