

.RevocationsByDimension {
  &__time {
    padding-bottom: 20px;
  }

  &__chart-wrapper {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 80vw;
    &--recommitmentsOverTime,
    &--admissionsOverTime {
      position: relative;
      height: 240px;
      width: auto;
    }
  }
}
