@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';

.program-report-card-list {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.program-report-card-list:hover,
.program-report-card-list:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
  cursor: pointer;
}

.explore-the-data {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.explore-the-data:hover,
.explore-the-data:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
  cursor: pointer;
}

ul.explore-choices {
  list-style-type: none;
}

.nav.nav-tabs > li.disabled { pointer-events: none; a { color: silver; } }

#chartjs-tooltip {
	opacity: 1;
	position: absolute;
	background: rgba(0, 0, 0, .7);
	color: white;
	border-radius: 3px;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	pointer-events: none;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.logo-icon-holder {
  border-radius: 3px;
  display: inline-block;
  font-size: 17px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-right: 14px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  width: 35px;
}

.dynamic-chart-header {
  display: block;
  font-size: 1.5em;
  height: 60px;
  margin-top: .5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
}

.auth-hidden {
  display: none;
}

.header.wide-navbar {
  width: 100%;
}

.wide-page-container {
  padding-left: 0px;
}

.recidiviz-dark-green-text {
  color: #006C67;
}

.recidiviz-dark-green-bg {
  background-color: #005450;
}

.recidiviz-art-red-bg {
  background-color: #DE5558;
}

.recidiviz-art-blue-bg {
  background-color: #89C1D3;
}

.recidiviz-light-green-bg {
  background-color: #25B895 !important;
  border-color: #25B895 !important;
}

.recidiviz-grey-bg {
  background-color: #E0E0DD;
}

// ul.snapshot-why
// {
// 	list-style-type: none;
// }
//
// ul.snapshot-why li
// {
// 	text-indent: -1.4em;
// }
//
// ul.snapshot-why li:before
// {
// 	font-family: bullets;
// 	float: left;
// 	width: 1.4em;
// }
//
// ul.snapshot-why li.arrow-up:before { content: "\e627" !important; }
// ul.snapshot-why li.arrow-down:before { content: "\e62a" !important; }
