.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinner, .spinner-regular, .spinner-mini {
  border: 4px solid var(--shadow-10);
  border-top-color: var(--color-green-1);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-regular {
  width: 48px;
  height: 48px;
}

.spinner-mini {
  width: 20px;
  height: 20px;
}

.message {
  margin-top: 8px;
  color: var(--gray-600);
  font-size: 14px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
