

@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;
@use "../controls/mixins" as controls;

.VizPopulationSnapshot {
  background: constants.$white;
  @include mixins.sans-14;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  width: 100%;

  &__chartXAxisTitle {
    text-align: center;
    padding-bottom: 2rem;
    color: constants.$slate-85;
  }

  &__labels--not-rotated {
    .foreground-graphics {
      transform: translate(0, 1.5rem) !important;

      .ordinal-labels text {
        transform: initial !important;
      }
    }
  }

  &__horizontal-bar {
    .background-graphics {
      .top.tick-line {
        stroke: none;
      }
    }

    .foreground-graphics {
      transform: translate(-1rem, -1.2rem) !important;
    }
  }

  .background-graphics {
    .axis.axis-tick-lines {
      stroke: none;
    }
    .left.tick-line {
      stroke: constants.$slate-20;
      stroke-width: 1px;
    }
  }

  .data-visualization {
    .axis-baseline.y {
      stroke: none;
    }

    .axis-label {
      fill: constants.$slate-80;
      font-size: 12px;
    }
  }

  .foreground-graphics {
    transform: translate(0, 2rem);

    .ordinal-labels text {
      fill: constants.$slate-80;
      transform: rotate(-45deg) translate(-1rem, -2rem);
    }
  }

  .annotation-layer {
    .xythreshold > .annotation-subject {
      path {
        opacity: 0.3;
        stroke-dasharray: 7;
      }
    }
  }

  &:focus, &:focus-within, &:active {
    border: 1px solid #006c67;
    border-radius: 8px;
  }
}
