
@use "@recidiviz/design-system/dist/scss/typography/mixins" as mixins;
@use "../CoreConstants.module.scss" as constants;

.VizPopulationPersonLevel {
  &__header {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 3rem;
  }

  &__title {
    color: constants.$pine-1;
    @include mixins.sans-16;
    & span {
      color: constants.$slate-80;
    }
  }

  &__table {
    overflow: overlay !important;
    overflow: auto;
    margin-top: 1.938rem;
  }
}
